<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="about-section">
    <section id="about">
        <!-- title -->
        <div class="main-header">
            <div class="h1 text-special" id="header-title">About me</div>
            <hr class="line line-m border-special" />
        </div>

        <div class="h3 about-intro">
            My full name is
            <span class="h3 text-special"> Au Ngoc Diep </span> and I want to
            become a
            <span class="h3 text-special"> Fullstack Developer</span>
        </div>
        <div class="about-left">
            <div class="p">
                I'm currently an Engineer at Upstatement building things for the
                web with some awesome people. I recently graduated from
                Northeastern University after completing three awesome six-month
                co-ops at MullenLowe U.S., Starry, and Apple Music.
                <br />
                <br />
                As a software engineer, I enjoy bridging the gap between
                engineering and design — combining my technical knowledge with my
                keen eye for design to create a beautiful product. My goal is to
                always build applications that are scalable and efficient under
                the hood while providing engaging, pixel-perfect user experiences.
            </div>

            <div class="button-groups">
                <a class="btn" href="./data/CV_NgocDiep.pdf" download="DiepCV.pdf"
                >Download CV</a
                >
                <a class="btn" href="#contact">Hire me</a>
            </div>
        </div>
        <div class="about-right">
            <table class="row-table">
                <tr>
                    <th class="p text-special">Age:</th>
                    <td class="p">25</td>
                </tr>
                <tr>
                    <th class="p text-special">Loc:</th>
                    <td class="p">
                        HCM city, <span class="text-special">VietNam</span>
                    </td>
                </tr>
                <tr>
                    <th class="p text-special">Email:</th>
                    <td class="p">
                        <a href="mailto:diepau1312@gmail.com">diepau1312@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <th class="p text-special">Phone:</th>
                    <td class="p">
                        <a href="tel:+84764699015">+84 764 699 015</a>
                    </td>
                </tr>
                <tr>
                    <th class="p text-special">Lang:</th>
                    <td class="p">Vietnamese, English, Chinese</td>
                </tr>
                <tr>
                    <th class="p text-special">Tech skils:</th>
                    <td class="p"></td>
                </tr>
                <tr>
                    <th class="p text-special">Tools:</th>
                    <td class="p">Vietnamese, English, Chinese</td>
                </tr>
            </table>
        </div>
    </section>
</th:block>
</html>

