<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="about-section">
    <section id="about">
      <!-- title -->
      <div class="main-header">
        <div class="h1 text-special" id="header-title">About me</div>
        <hr class="line line-m border-special" />
      </div>

      <div class="h3 about-intro">
        My full name is
        <span class="h3 text-special"> Au Ngoc Diep </span> and I want to become
        a
        <span class="h3 text-special"> Fullstack Developer</span>
      </div>
      <div class="about-left">
        <div class="p">
          I'm a self-taught developer currently working as a coding mentor,
          helping teenagers understand programming fundamentals and solve
          real-world problems. While I haven’t worked as a developer yet, I’m
          focused on becoming a fullstack developer with a strong emphasis on
          backend systems and data-driven applications.
          <br />
          <br />
          My goal is to build scalable systems that power great products behind
          the scenes, and to keep learning by contributing to real-world
          development teams.
        </div>

        <div class="button-groups">
          <a class="btn" href="./data/CV_NgocDiep.pdf" download="DiepCV.pdf"
            >Download CV</a
          >
          <a class="btn" href="#contact">Hire me</a>
        </div>
      </div>
      <div class="about-right">
        <table class="row-table">
          <tr>
            <th class="p text-special">Age:</th>
            <td class="p">25</td>
          </tr>
          <tr>
            <th class="p text-special">Loc:</th>
            <td class="p">
              District 10, HCM city,<span class="text-special">VietNam</span>
            </td>
          </tr>
          <tr>
            <th class="p text-special">Email:</th>
            <td class="p">
              <a href="mailto:diepau1312@gmail.com">diepau1312@gmail.com</a>
            </td>
          </tr>
          <tr>
            <th class="p text-special">Phone:</th>
            <td class="p">
              <a href="tel:+84764699015">+84 764 699 015</a>
            </td>
          </tr>
          <tr>
            <th class="p text-special">Lang:</th>
            <td class="p">Vietnamese, English, Chinese</td>
          </tr>
          <tr>
            <th class="p text-special">My Fav🥰:</th>
            <td class="p">
              <div class="tags">
                <div class="tag">
                  <img
                    src="https://www.svgrepo.com/show/354380/spring-icon.svg"
                  />
                </div>
                <div class="tag">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1150px-React-icon.svg.png"
                  />
                </div>
                <div class="tag">
                  <img
                    src="https://images.icon-icons.com/2699/PNG/512/mysql_logo_icon_169941.png"
                  />
                </div>
                <div class="tag">
                  <img src="https://img.icons8.com/fluent/512/node-js.png" />
                </div>
                <div class="tag">
                  <img
                    src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/python-programming-language-icon.png"
                  />
                </div>
                <div class="tag">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/IntelliJ_IDEA_Icon.svg/2048px-IntelliJ_IDEA_Icon.svg.png"
                  />
                </div>
                <div class="tag">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png"
                  />
                </div>
                <div class="tag">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png"
                  />
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </th:block>
</html>
