<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="resume-section">
    <section id="resume">
        <!-- title -->
        <div class="main-header">
            <div class="h1 text-special" id="header-title">My Journey</div>
            <hr class="line line-m border-special" />
        </div>

        <div class="about-left" id="edu">
            <div class="h3 title">
                <i class="fa-solid fa-graduation-cap"></i> Education
            </div>
            <div id="edu-list">
                <div class="resume-card">
                    <div class="circle-dot"></div>
                    <p class="text-special resume-time">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>02/2020</span> - <span>04/2020</span>
                    </p>
                    <h3 class="h3 resume-title">XYZ University (Sometown, NJ)</h3>
                    <p class="p resume-desc">BFA in Graphic Design</p>
                </div>
            </div>
            <div class="resume-card">
                <div class="circle-dot"></div>
                <p class="text-special resume-time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>02/2020</span> - <span>04/2020</span>
                </p>
                <h3 class="h3 resume-title">XYZ University (Sometown, NJ)</h3>
                <p class="p resume-desc">
                    BFA in Graphic Design BFA in Graphic Design BFA in Graphic
                    Design
                </p>
            </div>
        </div>

        <div class="about-right" id="exp">
            <div class="h3 title">
                <i class="fa-solid fa-briefcase"></i> Experience
            </div>
            <div id="exp-list">
                <div class="resume-card">
                    <div class="circle-dot"></div>

                    <p class="text-special resume-time">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>02/2020</span> - <span>04/2020</span>
                    </p>
                    <h3 class="h3 resume-title">XYZ University (Sometown, NJ)</h3>
                    <p class="p resume-desc">
                        BFA in Graphic Design, BFA in Graphic Design, BFA in Graphic
                        Design
                    </p>
                </div>
                <div class="resume-card">
                    <div class="circle-dot"></div>

                    <p class="text-special resume-time">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>02/2020</span> - <span>04/2020</span>
                    </p>
                    <h3 class="h3 resume-title">XYZ University (Sometown, NJ)</h3>
                    <p class="p resume-desc">BFA in Graphic Design</p>
                </div>
                <div class="resume-card">
                    <div class="circle-dot"></div>

                    <p class="text-special resume-time">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>02/2020</span> - <span>04/2020</span>
                    </p>
                    <h3 class="h3 resume-title">XYZ University (Sometown, NJ)</h3>
                    <p class="p resume-desc">BFA in Graphic Design</p>
                </div>
                <div class="resume-card">
                    <div class="circle-dot"></div>

                    <p class="text-special resume-time">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>02/2020</span> - <span>04/2020</span>
                    </p>
                    <h3 class="h3 resume-title">XYZ University (Sometown, NJ)</h3>
                    <p class="p resume-desc">BFA in Graphic Design</p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>

