.main-container {
  grid-column: 4 / 12;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.main-header {
  width: 100%;
  grid-column: span 2;
  margin-left: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: none;
}

.main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding-top: 40px;
  width: 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  min-height: 100vh;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1400px) {
  .main-container {
    width: 100%;
    grid-column: 5 / 12;
    padding-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .main-container {
    width: 100%;
    grid-column-start: 1;
    padding-left: 40px;
  }

  .main-header {
    display: flex;
  }
  .main-content {
    height: fit-content;
    width: 100%;
  }
  section {
    height: 100%;
    margin-left: 0;
    max-width: 600px;
  }
}
