.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1003;
  background-color: rgba(var(--current-rgb), 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.projectDetails {
  position: relative;
  border-radius: var(--radius-l);
  background-color: var(--current-mode);
  padding: 40px;
  box-shadow: var(--current-attended-color) 0px 3px 5px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  max-width: 1100px;
  max-height: 550px;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.projectDetails .about-left {
  width: 100%;
  #project-imgs {
    width: 100%;
    img, iframe {
      border-radius: 15px;
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.projectDetails .about-right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .project-detail {
    margin-top: 15px;
    height: fit-content;
    overflow: auto;
    scrollbar-color: var(--current-attended-color);
  }
    /* width */
    .project-detail::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    .project-detail::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    .project-detail::-webkit-scrollbar-thumb {
      background: var(--current-color);
      border-radius: 10px;
    }
}

/* tags */
.tags {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
}

.tag {
  padding: 5px 10px;
  background-color: var(--current-attended-color);
  border-radius: var(--radius-m);
  cursor: pointer;
}

#close-popup-btn {
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -70px;
}

#close-popup-btn:hover {
  background-color: var(--current-attended-color);
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  #close-popup-btn {
    border: none;
    right: 5px;
    top: 5px;
  }

  #close-popup-btn:hover {
    background-color: transparent;
  }
}

@media only screen and (max-width: 992px) {
  .projectDetails {
    max-height: 95vh;
  }
}