#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  position: relative;
}

.skill-list .tags {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  row-gap: 15px;
  position: relative;

  .h3 {
    margin-left: 0;
  }
}

.skill-list .tags .tag {
  transition: all 0.8s ease;
  color: var(--current-color);
  padding: 5px 10px;
  /* background-color: var(--disable); */
  background-color: transparent;
  width: fit-content;
  align-items: center;
  font-weight: 700;
  margin-right: 15px;
  cursor: default;
  .icon {
    height: 30px;
    margin-right: 5px;
  }

  /* &:hover {
    transition: all 0.8s ease;
    background-color: var(--current-attended-color);
  } */
}

@media only screen and (max-width: 992px) {
  .skill-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
